alias g='git'
alias gcb='git checkout -b'
alias gco='git checkout'
alias gs='git status'
alias gfr='git pull -r'
alias gl='git log --topo-order --graph --decorate --pretty=format:"%C(green)%h%C(reset) %s%C(red)%d%C(reset)"'
alias gcm='git commit -m'

alias k='kubectl'

alias awsume='. awsume'